<section class="container">
  <form action="experimento" (ngSubmit)="enviar()">
    <h2 class="experimento_titulo">Realizar nova experiência</h2>

    <div class="form-field">
      <div class="select">
        <label for="experimento">Experimento:</label>
        <select name="experimento" id="experimento">
          <option value="archimedes">Princípio de Arquimedes</option>

        </select>
      </div>
    </div>

    <h2 class="experimento_titulo">Medidas realizadas</h2>
    <div>
      <table class="table">
        <thead> 
          <tr>
            <th>Objeto 1 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>          
              <input type="checkbox" id="volume1"  name="volume1" [(ngModel)]="volume1">
              <label for="volume1"> Volume 1 </label>
              <input type="checkbox" id="peso1" name="peso1" [(ngModel)]="peso1">
              <label for="peso1"> Massa 1 </label>
            </td>
          </tr>
      </tbody>
      </table>
    </div>
    <div>
      <table class="table">
        <thead> 
          <tr>
            <th>Objeto 2 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>  
              <input type="checkbox" id="volume2"  name="volume2" [(ngModel)]="volume2">
              <label for="volume2"> Volume 2 </label>
              <input type="checkbox" id="peso2" name="peso2" [(ngModel)]="peso2">
              <label for="peso2"> Massa 2 </label>
            </td>
          </tr>
      </tbody>
      </table>
    </div>
    <table class="table">
      <thead> 
        <tbody>
          <tr>
            <th><button class="botao" type="submit" *ngIf="this.isButtonVisible">Enviar</button></th>
            <th><button class="botao" routerLink="/lista">Voltar</button></th>
        <tr>
    </table>
  <div>
    <label for="medidas">Medidas: </label>
    <label [(ngModel)]="medidas" ngDefaultControl >{{medidas}}</label>
  </div>
  <div>
    <label for="status">Status: </label>
    <label [(ngModel)]="status" ngDefaultControl >{{status}}</label>
  </div>
  </form>

  <div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5X3_3r7xwLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="form-field">
    <div>
      <a href="http://univesp-campinas-pi5-ui.herokuapp.com/">Sobre o experimento (PDF)</a>
    </div>
  </div>
</section>
